<div class="application-menu <%= fixed ? 'position-fixed' : nil %> w-100 navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><%= ActiveElement.application_title %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% items.each do |navbar_item| %>
          <li class="nav-item">
            <%=
              link_to navbar_item.fetch(:title) { navbar_item.fetch(:label) },
                      navbar_item.fetch(:path),
                      class: "nav-link #{component.active_path_class(current_navbar_item: navbar_item)}"
            %>
          </li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex icon-menu p-3">
    <%= render partial: 'active_element/user' %>
    <%= render partial: 'active_element/theme/select' %>
  </div>
</div>
