<div class="col-sm-10 json-field form-group"
     data-data-key="<%= ActiveElement::Components::Util.json_name("#{form.object_name}.#{field}") %>"
     data-form-id="<%= form_id %>"
     data-field-id="<%= field_id %>"
>

</div>

<%= form.hidden_field field,
                      name: "#{form.object_name}[#{field}]",
                      value: component.value_for(field, options)&.to_json,
                      id: field_id %>
<%= form.hidden_field field, name: '__json_fields[]', value: "#{form.object_name}.#{field}" %>

<%=
  active_element.component.json(
    ActiveElement::Components::Util.json_name("#{form.object_name}.#{field}"),
    { data: component.value_for(field, options), schema: component.schema_for(field, options) }
  )
%>
