<html>
  <head>
    <%= render_active_element_hook 'active_element/before_head' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      window.ActiveElement = window.ActiveElement || {};
    </script>

    <%= stylesheet_link_tag 'active_element/application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.application.assets.find_asset('application.css').present? %>
      <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= csrf_meta_tag %>

    <meta name="active_element_controller_path" content="<%= controller_path %>">

    <%= render_active_element_hook 'active_element/after_head' %>
  </head>

  <body>
    <%= render_active_element_hook 'active_element/before_navbar' %>
    <%= render partial: 'active_element/navbar/menu' %>
    <%= render_active_element_hook 'active_element/after_navbar' %>

    <% flash.each do |type, message| %>
      <div class="flash toast <%= type %> position-absolute top-0 end-0 mt-5" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <% if type == 'notice' %>
            <i class="fa-solid me-2 text-info fa-circle-info"></i>
          <% elsif type == 'alert' %>
            <i class="fa-solid me-2 text-danger fa-circle-exclamation"></i>
          <% else %>
            <i class="fa-solid me-2 text-info fa-circle-info"></i>
          <% end %>
          <strong class="me-auto"><%= type.titleize %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fw-bold align-middle">
          <%= message %>
        </div>
      </div>
    <% end %>

    <%= render_active_element_hook 'active_element/before_content' %>

    <div class="content p-3 m-3">
      <%= yield %>
    </div>

    <%= render partial: 'active_element/components/form/templates' %>
    <%= render partial: 'active_element/components/secret/templates' %>
    <%= render partial: 'active_element/theme/templates' %>

    <%= render_active_element_hook 'active_element/after_content' %>

    <%= javascript_include_tag 'active_element/application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.application.assets.find_asset('application.js').present? %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </body>
</html>
